# Prerequisites
*.d

/Linear_algebra/.vs
/Linear_algebra/Linear_Algebra/x64
/Linear_algebra/x64

# Visual Studio FIles
*.vcxproj
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
